ul.suggested-users {
  list-style: none;
  padding: 0;

  li.suggested-user {
    $user-icon-size: 50px;
    .user-icon {
      float: left;
      display: block;

      img {
        @include circle-user-icon($user-icon-size)        
      }
    }

    .name {
      display: block;
      padding-left: 12px;
      color: $dark-grey;
      font-weight: 600;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .small-delete-btn {
      float: right;

      i {
        color: $dark-grey;  
      }
      
      &:hover, &:focus {
        background-color: rgba(45,45,45, 0.1);
      }
    }

    .simple-follow-btn {
      font-weight: 600;
      text-decoration: none;
      padding: 3px 8px;
      margin-left: 11px;
      line-height: 30px;
      background-color: rgba(45,45,45, 0.1);
      border-radius: 3px;

      &:hover {
        color: white;
        background-color: rgba(45,45,45, 0.5);
      }

      i {
        margin-right: 4px;
      }
    }
  }
}
