<div class="nav">
    <div class="container">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/legal">Legal</a>
            </li>
        </ul>
    </div>
</div>